.canvas-wrapper {

  & .canvas {
    width: 375px;
    height: 603px;
    background-color: #bbb;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
